header{
	padding: 18px;
}
.logo{
	display: inline-block;
}
a{
	text-decoration: none;
}
.link{
	padding-right: 10px;
	color: #696969;
	font-family: sans-serif;
	font-size: 20px;
}
.nav{
	display: inline-block;
	padding-right: 10px;
	padding-top: 25px;
	float: right;
}
#nav{
	padding-right: 10px;
	padding-top: 25px;
	text-align: right;
	justify-content: space-around;
	margin-bottom: 20px;
}
.forms{
	text-align: center;
	height: 400px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.elem{
	margin: 0;
}
.elem a{
	color: blue;
	font-family: sans-serif;
	font-size: 20px;
}
input{
	outline: none;
}
.search{
	margin-top: 10px;
	border-radius: 25px;
	font-size: 18px;
	width: 500px;
	border: 0px;
	padding: 12px;
	padding-left: 25px;
	box-shadow: 1px 1px 5px 2px #D3D3D3;
}
.advanc{
	font-size: 14px;
	height: 350px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.advanc form{
	font-family: sans-serif;
	box-shadow: 1px 1px 5px 2px #D3D3D3;
  	padding: 40px;
  	border-radius: 25px;
}
#AdvSearchForm label{
	float: left;
	margin-right: 50px;
}
#AdvSearchForm .input{
	float: right;
	padding: 2px;
	padding-right: 5px;
	padding-left: 5px;
}
#AdvSearchForm input, label{
	font-size: 16px;
	margin: 5px;
}
#AdvSearchForm .subm{
	font-size: 16px;
	margin: 5px;
	border: 0px;
	color: white;
	background-color: #008cef;
	border-radius: 15px;
	padding: 10px;
}
.h1{
	display: flex;
	text-align: center;
  	justify-content: center;
  	margin-top: 50px;
	margin-bottom: 70px;
	color: red;
	font-family: sans-serif;
	font-size: 18px;
}
